﻿
<div class="o-module-box js-module-hide overlay-dialogue js-clickout-hide alpha-background align-right no-pad" id="settingsContainer">
    <ul class="no-style-list search-list no-pad-sides">
        <li>
            <a class="text-color-dark">
                <div class="col-sm-8 text-left ">
                    Kontoinställningar
                </div>
            </a>
        </li>
        <li>
            <a class="text-color-dark" href="/Authentication/Logout">
                <div class="col-sm-8 text-left ">
                    Logga ut
                </div>

            </a>
        </li>
    </ul>
</div>
