﻿@model MvcApp.ViewModels.SettingsViewModels.EventSettingsViewModel

<div class="o-module-box js-module-hide overlay-dialogue js-clickout-hide alpha-background align-right no-pad" id="eventSettingsContainer">
    <ul class="no-style-list search-list no-pad-sides no-gutter-all text-right">
        <li>
            <a href="#" data-action="/Event/EventInvite?id=@Model.Id" class="js-modal pad-top-hard">
                <div class="col-sm-8 text-left ">
                    Bjud in polare till evenemang
                </div>
            </a>
        </li>
        <li>
            <a href="#" data-action="/Event/UpdateEventProfileImage?eid=@Model.Id" class="js-modal">
                <div class="col-sm-8 text-left ">
                    Ändra bannerbild
                </div>
            </a>
        </li>
    </ul>
</div>

