﻿@model MvcApp.ViewModels.ProfileViewModels.EditDetailsViewModel

<div id="editDetailsForm" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Ändra dina uppgifter</h3>
    </div>
    @using (Ajax.BeginForm("EditDetails", "Profile", FormMethod.Post,
                                    new AjaxOptions
                                    {
                                        HttpMethod = "POST",
                                        UpdateTargetId = "editDetailsForm"
                                    }, 
                                    new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <ul>
                <li>
                    @Html.LabelFor(x => x.FirstName)
                </li>
                <li>
                    @Html.TextBoxFor(x => x.FirstName)
                </li>
                <li>
                    @Html.LabelFor(x => x.SurName)
                </li>
                <li>
                    @Html.TextBoxFor(x => x.SurName)
                </li>
                <li>
                    @Html.LabelFor(x => x.City)
                </li>
                <li>
                    @Html.TextBoxFor(x => x.City)
                </li>
                <li>
                    @Html.LabelFor(x => x.FavouriteVehicles)
                </li>
                <li>
                    @Html.TextBoxFor(x => x.FavouriteVehicles)
                </li>
                <li>
                    <input type="submit" class="btn btn-default" value="Spara ändringar" />
                </li>
                @if (ViewBag.message != null)
                {
                    <li>
                        @ViewBag.message
                    </li>
                }

            </ul>
        </div>
    }
</div>
