﻿@model MvcApp.ViewModels.ProfileViewModels.FriendRequestModuleViewModel

@Html.ValidationSummary()
@{
    if (Model.Response == Domain.Models.RequestResponse.NotRequested)
    {
        using (Ajax.BeginForm("FriendRequestModule", "Profile", FormMethod.Post,
                                        new AjaxOptions
                                        {
                                            HttpMethod = "POST",
                                            UpdateTargetId = "FriendModulePartial"
                                        }))
        {
            @Html.HiddenFor(x => x.uid)
            @Html.AntiForgeryToken()
            <input type="submit" value="Lägg till vän"/>
        }


    }
    else if (Model.Response == Domain.Models.RequestResponse.NotResponded)
    {
        <div class="heading-color">
            <p>Förfrågan om att ingå vänskapsrelation skickad.</p>
        </div>
    }
}
    

