﻿@using System.Diagnostics.Eventing.Reader
@model MvcApp.ViewModels.ProfileViewModels.ProfileViewModel
    <div class="col-sm-12">
    <h2 class="heading-color">@Model.Name</h2>
    @if (User.Identity.IsAuthenticated && !Model.IsAccountOwner)
    {
        <div class="js-partial-container" id="FriendModulePartial" data-action="/Profile/FriendModule">
            @Html.Partial("FriendRequestModule", new MvcApp.ViewModels.ProfileViewModels.FriendRequestModuleViewModel { Response = Model.FriendStatus, uid = Model.UserId })
        </div>
    }
</div>
<div class="col-sm-4 push-bottom-soft">
    <div class="alpha-background push-bottom-soft text-right ">
        @if (Model.IsAccountOwner)
        {
            <div class="push-right-hard overlay pad-all-soft align-right">
                <a data-action="/Profile/UpdateProfileImage" class="js-modal">Ändra</a>
            </div>
        }
        @if (Model.ProfileImagePath != null)
        {
            <img class="image-control" src="@Url.Content(Model.ProfileImagePath)" width="100"/>
        }
        else
        {
            <img class="image-control" src="~/Images/Svg/Avatar.svg"/>
        }

    </div>
    <div class="text-color-dark alpha-background clearfix no-pad-sides push-bottom-soft">
        <div class="col-xs-12 beta-background push-bottom-soft">
            <div class="col-xs-6 no-pad">
                <h3>Om</h3>
            </div>
            @if (Model.IsAccountOwner)
            {
                <div class="col-xs-6 push-top-soft text-right no-pad">
                    <a data-action="/Profile/EditDetails" class="js-modal">Ändra</a>
                </div>
            }
        </div>
        <ul class="no-style-list ">
            <li>
                @Html.LabelFor(x => x.FavouriteVehicles):
                @(Model.FavouriteVehicles != null ? Model.FavouriteVehicles : "Ej angivet")
            </li>
            <li>
                @Html.LabelFor(x => x.City):
                @(Model.City != null ? Model.City : "Ej angivet")
            </li>
        </ul>
    </div>
    @if (Model.Friends != null && Model.Friends.Count > 0)
    {

        <div class="text-color-dark alpha-background clearfix no-pad-sides">
            <div class="col-xs-12 beta-background">
                <h3>Polare</h3>
            </div>
            <div class="pad-all-soft col-sm-12">
                @foreach (var friend in Model.Friends)
                {
                    <div class="col-xs-4 no-pad">
                        <div class="pad-all-mini">
                            <a href="/Profile?uid=@friend.FriendId" class="no-style-link">
                                <div class="no-pad clearfix">
                                    @if (friend.Friend.ProfileImage != null)
                                    {
                                        <img class="image-control" src="@Url.Content(friend.Friend.ProfileImage.Path)" width="100" height="50"/>
                                    }
                                    else
                                    {
                                        <img class="image-control" src="~/Images/Svg/Avatar.svg" width="100" height="50"/>
                                    }
                                    <div class="col-xs-12 alpha overlay">
                                        @friend.Friend.Firstname
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
<div class="col-sm-8">
    <div class="alpha-background no-pad-sides ">
        <div class="col-sm-12 beta-background">
            <h3>Meddelanden</h3>
        </div>
        <div id="userEntriesContainer" class="pad-all-hard alpha-background col-sm-12 push-bottom-soft">
            @Html.Action("GetProfileEntries", "Entry", new { uid = Model.UserId })
        </div>

    </div>
    @if (Model.IsFriend && !Model.IsAccountOwner)
    {
        <div class="col-sm-12 alpha-background pad-all-hard push-bottom-soft">
            @Html.Action("AddFriendEntry", "Entry", new { uid = Model.UserId })
        </div>
    }
</div>