﻿@model MvcApp.ViewModels.EntryViewModels.AssociationEntryViewModel

@using (Ajax.BeginForm("AddAssocEntry", "Entry", FormMethod.Post, new AjaxOptions
{
    UpdateTargetId = "assocEntriesContainer",
    HttpMethod = "POST",
}))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <div class="text-color-dark">
        <h4>Skriv meddelande</h4>
        <div class="col-sm-12">
            @Html.LabelFor(x => x.Message)
        </div>
        <div class="col-sm-12">
            @Html.TextAreaFor(x => x.Message, new { @class = "full-width" })
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-6">
                @Html.LabelFor(x => x.IsPrivate)
                @Html.CheckBoxFor(x => x.IsPrivate)
            </div>
            <div class="col-sm-6 text-right">
                <input type="submit" class="btn btn-default" value="Skicka meddelande" />
            </div>
        </div>
        @Html.HiddenFor(x => x.AssocId)
    </div>
}
