﻿@model IEnumerable<MvcApp.ViewModels.EntryViewModels.AssociationEntryViewModel>

@if (Model != null && Model.Count() > 0)
{
    foreach (var message in Model)
    {
        <div class="push-bottom-soft">
            <div class="">
                <div class="delta-background pad-all-hard heading-color">
                    <div class="row">
                        <div class="col-sm-6">
                            @message.Author.Firstname @message.Author.Lastname skrev: @if (message.IsPrivate)
                            {
                                <strong>Privat</strong>}
                        </div>
                        <div class="text-right col-sm-6">
                            @message.PublishDate.ToShortDateString() @message.PublishDate.ToShortTimeString()
                        </div>
                    </div>

                </div>
                <div class="pad-all-hard entry-background pad-top-soft">
                    <p>@message.Message</p>
                </div>

            </div>
        </div>
    }
}
else
{
    <div class="pad-all-mini">
        <div class="pad-all-hard">
            <p> Det finns inga meddelanden än.</p>
        </div>
    </div>
}
