﻿@model MvcApp.ViewModels.LoginViewModel

<div class="pad-all-soft">
    <div class="alpha-background o-module-box clearfix col-sm-6">

        @Html.ActionLink("Registrera", "Register")

        @using (Html.BeginForm("Login", "Authentication", FormMethod.Post))
        {
            @Html.AntiForgeryToken();
            <h2>Logga in</h2>
            <ul class="no-style-list">
                <li>@Html.ValidationSummary()</li>
                <li>
                    @Html.LabelFor(x => x.Email)
                </li>
                <li>
                    @Html.TextBoxFor(x => x.Email)
                </li>
                <li>
                    @Html.LabelFor(x => x.Password)
                </li>
                <li>
                    @Html.PasswordFor(x => x.Password)
                </li>
                <li>
                    @Html.CheckBoxFor(x => x.RememberLogin)
                    @Html.LabelFor(x => x.RememberLogin)
                </li>
                <li>
                    <input type="submit" value="Logga in" />
                </li>
            </ul>
        }
        <div>
            <a href="#" data-action="/Authentication/SendPwReset" class="js-modal">Glömt lösenord?</a>
        </div>
    </div>
</div>




