﻿@model MvcApp.ViewModels.RegisterViewModel

@using (Html.BeginForm("Register", "Authentication", FormMethod.Post))
{
    <h2>Registrera</h2>
            <ul>
                @Html.AntiForgeryToken()
                <li>
                    @Html.LabelFor(x => x.Email)
                </li>
                <li>
                    @Html.TextBoxFor(x => x.Email)
                    @Html.ValidationMessageFor(x => x.Email)
                    @Html.ValidationMessage("RegisterError")
                </li>
                <li>
                    @Html.LabelFor(x => x.Password)
                </li>
                <li>
                    @Html.PasswordFor(x => x.Password)
                    @Html.ValidationMessageFor(x => x.Password)
                </li>
                <li>
                    @Html.LabelFor(x => x.ConfirmPassword)
                </li>
                <li>
                    @Html.PasswordFor(x => x.ConfirmPassword)
                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                </li>
                <li>
                    <input type="submit" value="Registrera" />
                </li>
            </ul>

}
