﻿@model MvcApp.ViewModels.AuthenticationViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>
@if (ViewBag.message != null)
{
    <p>@ViewBag.message</p>
}
else
{
    using (Html.BeginForm("ResetPassword", "Authentication", new  { userId = @Request.QueryString["userID"] , pwrToken = @Request.QueryString["pwrToken"] }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <h2>Logga in</h2>
                <ul>
                    <li>@Html.ValidationSummary()</li>
                    <li>
                        @Html.LabelFor(x => x.Password)
                    </li>
                    <li>
                        @Html.PasswordFor(x => x.Password)
                    </li>
                    <li>
                        @Html.LabelFor(x => x.ConfirmPassword)
                    </li>
                    <li>
                        @Html.PasswordFor(x => x.ConfirmPassword)
                    </li>
                    <li>
                        <input type="submit" value="Återställ lösenord" />
                    </li>
                </ul>
    }
}