﻿@model MvcApp.ViewModels.AuthenticationViewModels.SendPwResetViewModel


<div id="pwResetForm" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Återställ lösenord</h3>
    </div>
    @using (Ajax.BeginForm("SendPwReset", "Authentication", FormMethod.Post,
                            new AjaxOptions
                            {                                
                                HttpMethod = "POST",
                                UpdateTargetId = "pwResetForm"
                            }))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <ul>
                <li>
                    @Html.LabelFor(x => x.Email)
                </li>
                <li>
                    @Html.TextBoxFor(x => x.Email)
                </li>
                <li>
                    <input type="submit" class="btn btn-default" value="Skicka" />
                </li>
                @if (ViewBag.message != null)
                {
                    <li>
                        @ViewBag.message
                    </li>
                }
                
            </ul>        
        </div>
    }
</div>