﻿
@{
    ViewBag.Title = "NotFound";
}
<div class="center-content heading-color push-bottom-soft">
    <h2>Sidan du söker kunde ej hittas.</h2>
    <span>Sidan du har försökt nå kunde inte hittas av servern. Kontrollera adressen och försök igen.</span>
</div>

