﻿@model MvcApp.ViewModels.HomeViewModels.MainPageViewModel

@if (HttpContext.Current.User.Identity.IsAuthenticated && Model != null)
{
   
}
<h2 class="heading-color">Välkommen till Swecruiser</h2>
<span class="heading-color">
Välkommen till Swecruiser - en digital samlingsplats för personer som har ett brinnande intresse för Amerikanska bilar.
    Här kommer du kunna hitta köp&sälj annonser till evenemang, gamla polare och skapa sidor för dina sällskap och organisationer.
    Sidan är fortfarande under utveckling och kommer att fyllas på med mer funktionalitet löpande men kolla gärna runt medans vi jobbar på 
    att sidan ska bli så bra som den bara kan bli.
</span>



