﻿@using Domain.Models
@using MvcApp.ViewModels.NotificationViewModels
@model MvcApp.ViewModels.HomeViewModels.NotificationsContainerViewModel

<ul class="pad-all-hard no-style-list no-border">
    <li class="col-sm-4 pad-all-mini">
        <a href="#" class="js-toggle-module no-border" type="button" id="friendIcon" data-container="frContainer">
            <div>
                @if (Model.FriendRequests.Count(c => c.IsRead == false) > 0)
                {
                    <div class="notification-indicator">
                       @Model.FriendRequests.Count(c => c.IsRead == false)
                    </div>
                }
                
                <img class="nav-img push-left-hard" src="../../Images/add_friend-512.png"/>

            </div>
        </a>
        @*<input class="js-toggle-module" type="button" id="friendIcon" value="@Model.FriendRequests.Count(c => c.IsRead == false)" data-container="frContainer"/>*@
        <div class="o-module-box js-module-hide overlay-dialogue js-clickout-hide alpha-background align-right" id="frContainer">

            @if (Model.FriendRequests != null && Model.FriendRequests.Count > 0)
            {

                foreach (var req in Model.FriendRequests)
                {
                    req.RequesterLink = "";
                    <div class="text-left">
                        <p>@Html.Raw(req.RequesterLink) Vill bli polare med dig på Swecruiser!</p>
                    </div>
                    <div class="row text-left">
                        <div class="col-sm-6 ">
                            @Ajax.ActionLink("Kör på det!", "AcceptRequest", "Profile", req, new AjaxOptions
                            {
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "notificationsContainer"
                            })
                        </div>
                        <div class="col-sm-6 text-right">
                            <input type="button" class="btn btn-default" value="Det blir inget"/>
                        </div>
                    </div>
                    @Html.Hidden("requestId", req.Id)
                }
            }
            else
            {
                <div class="text-left">
                    <p>Du har inga obesvarade vänförfrågningar!</p>
                </div>
            }
        </div>
    </li>


    <li class="col-sm-4 pad-all-mini">
        <a href="#" class="js-toggle-module no-border js-read-notifications" type="button" data-container="noContainer">
            <div>
                @if (Model.Notifications.Count(c => c.IsRead == false) > 0)
                {
                    <div class="notification-indicator js-notification-indicator">
                        @Model.Notifications.Count(c => c.IsRead == false)
                    </div>
                }
                <img class="nav-img push-left-hard" src="../../Images/signal_horn.png"/>
            </div>
        </a>
        <div class="o-module-box js-module-hide overlay-dialogue text-left js-clickout-hide alpha-background align-right" id="noContainer">
            @if (Model.Notifications != null && Model.Notifications.Count > 0)
            {
                int i = 0;
                foreach (var notification in Model.Notifications)
                {
                    if (!notification.IsRead)
                    {
                        <h4>Nytt!</h4>
                    }
                    <div class=""></div>
                    if (notification.NotoficationType == NotoficationType.AssociationInvite)
                    {
                        var containerId = "asContainer" + i;
                        <div id="@containerId">
                            @{
                                var model = new AssociationInviteRespondViewModel {AssocId = notification.LinkId, Name = notification.Message, containerId = i, NoId = notification.Id};
                        {
                            Html.RenderAction("AssociationInviteRespondView", "Association", model);
                        }
                            }

                        </div>
                    }
                    else if (notification.NotoficationType == NotoficationType.EventInvite)
                    {
                        var containerId = "evContainer" + i;
                        <div id="@containerId">
                            @{
                                var model = new EventInviteRespondViewModel {EventId = notification.LinkId, Name = notification.Message, containerId = i, NoId = notification.Id};
                        {
                            Html.RenderAction("EventInviteRespondView", "Event", model);
                        }
                            }

                        </div>
                    }
                    else
                    {
                        <p>@notification.Message</p>
                    }
                    @Html.Hidden("notificationId", notification.Id, new {@class = notification.IsRead == false ? "js-noIdContainer" : "" })
                    i++;
                }
            }
        </div>
    </li>

</ul>