﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swecruiser</title>
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <link href="~/Css/Objects.css" rel="stylesheet" type="text/css"/>
    <link href="~/Css/Utility.css" rel="stylesheet" type="text/css"/>
    <link href="~/Css/Colors-Backgrounds.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/_ajax-functions.js"></script>
    <script src="~/Scripts/_search-field.js"></script>
    <script src="~/Scripts/_visibility-toggle.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
<div class="body-alpha">
    <div class="navbar delta-background">
        <div class="col-sm-12">
            <div class="row">
                <div class="navbar-header col-sm-2">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.RouteLink("Swecruiser", "Root", null, new {@class = "logo push-left-hard heading-color"})
                </div>

                <div class="navbar-collapse collapse row ">
                    @*<div class="navbar-right col-md-4 col-sm-4 col-xs-5 ">
                  
                    </div>*@
                    @*<ul class="nav-list navbar-left nav navbar-nav ">
                        

                        <li>

                        </li>
                    </ul>*@
                    <ul class="nav-list navbar-right nav navbar-nav push-right-hard ">
                        <li>
                            <div class="nav-field text-center">
                                @Html.TextBox("Sök", null, new { @class = "js-search-field sc-input-field alpha-background ", @data_action = "../Search/SearchResultsDialogue", @data_target = "gsContainer" })
                                <div class="search-container js-clickout-hide" id="gsContainer">
                                </div>
                            </div>

                        </li>
                        <li>
                            @Html.RouteLink("Sällskap & Organisationer", "AssocMgmRoute")
                        </li>
                        <li>
                            @Html.RouteLink("Evenemang", "EventMgmRoute")
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                @Html.RouteLink("Profil", "ProfileRoute")
                            </li>
                            <li>
                                <div class="text-right " id="notificationsContainer">
                                    @{
                                        Html.RenderAction("NotificationsContainer", "Home");
                                    }
                                </div>
                            </li>
                            <li>
                                <a href="#" class="js-toggle-module pad-all-mini push-right-hard" data-container="settingsContainer">
                                    <img class="nav-img push-left-hard" src="../../Images/settings.png"/>
                                </a>
                                @{Html.RenderAction("AccountSettings", "Settings");}
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink("Logga in", "Login", "Authentication")
                            </li>
                            <li>
                                @Html.ActionLink("Registrera", "Register", "Authentication")
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="container delta-background">
        @RenderBody()

    </div>
    <footer>
        <p class="heading-color">&copy; @DateTime.Now.Year - Swecruiser</p>
        <div class="modal fade sc-modal">
            <div class="modal-dialog sc-modal-container modal-sm"></div>
        </div>
    </footer>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
</body>
</html>