﻿@using Domain.Models
@model MvcApp.ViewModels.AssociationViewModels.AssociationProfileViewModel
@{
    ViewBag.Title = @Model.Name;
}

<div class="row">
    <div class="col-sm-8">
        <h2 class="heading-color">@Model.Name</h2>
    </div>
    <div class="col-sm-4 text-right pad-all-soft">
        <a href="#" class="js-toggle-module pad-all-mini push-right-hard" data-container="assocSettingsContainer">
            <img class="nav-img push-left-hard" src="../../Images/settings.png"/>
        </a>
            @Html.Action("AssociationSettings", "Settings", new { id = Model.id })
    </div>

</div>
<div class="push-bottom-soft col-xs-12">
    <div class="alpha-background push-bottom-soft text-right">
        @if (Model.BannerImage != null)
        {
            <img class="image-control" src="@Model.BannerImage.Path" />
        }
        else
        {
            <img class="image-control" src="~/Images/Svg/../carsilhouette.png" />
        }
    </div>
</div>


<div class="col-sm-6 alpha-background o-module-box pad-bottom-hard no-pad-sides push-bottom-soft">
    <div class="beta-background col-xs-12">
        <h3 class="text-color-dark">Medlemmar</h3>
    </div>

    @foreach (var member in @Model.Members.Where(x => x.InviteResponse == RequestResponse.Accepted))
    {
        <div class="col-xs-4 no-pad">
            <div class="pad-all-hard">
                <a href="/Profile?uid=@member.UserId" class="no-style-link">
                    <div class="text-center no-pad">

                        @if (member.User.ProfileImage != null)
                        {
                            <img class="image-control" src="@Url.Content(member.User.ProfileImage.Path)" width="100" height="100" />
                        }
                        else
                        {
                            <img class="image-control" src="~/Images/Svg/Avatar.svg" width="100" height="100" />
                        }
                        <div class="col-xs-12 alpha ">
                            @member.User.Firstname @member.User.Lastname
                        </div>

                    </div>
                </a>
            </div>

        </div>
    }
</div>
<div class="col-sm-6">
    <div class="alpha-background no-pad-sides ">
        <div class="col-sm-12 beta-background">
            <h3>Meddelanden</h3>
        </div>
        <div id="assocEntriesContainer" class="pad-all-hard alpha-background col-sm-12 push-bottom-soft">
            @Html.Action("GetAssocEntries", "Entry", new {id = Model.id, role = Model.ViewerRole})
        </div>
    </div>
        @if (Model.ViewerRole != AssociationRole.NoMember)
        {
            <div class="col-sm-12 alpha-background pad-all-hard push-bottom-soft">
                @Html.Action("AddAssocEntry", "Entry", new { id = Model.id })
            </div>
        }
</div>

