﻿    
<div class="row">
    <div class="col-md-12 push-bottom-soft pad-all-soft">
        <div class="center-content text-center">
            <h3 class="heading-color">Sök efter organisation eller sällskap</h3>
            @Html.TextBox("Sök", null, new {@class = "js-search-field sc-input-field alpha-background", @data_action = "/Association/AssociationSearch", @data_target = "asContainer"})
            <div class="search-container text-left overlay-dialogue center-content js-clickout-hide" id="asContainer">
            </div>
        </div>
    </div>
    <br/>
   <hr/>
    <div class="row pad-all-soft">
        <div class="col-md-6">
           
            @if (User.Identity.IsAuthenticated)
            {

                <div class="alpha-background o-module-box push-top-soft" data-action="/Association/AssociationMemberships">
                    <div class="col-sm-12 beta-background push-bottom-soft">
                        <h3>Medlemsskap</h3>
                    </div>
                    @Html.Action("AssociationMemberships")
                </div>
            }

        </div>
        <div class="col-md-6">
            @if (User.Identity.IsAuthenticated)
            {

                <div class="js-module-hide push-top-soft o-module-box alpha-background" id="createAssocContainer" data-action="/Association/CreateAssociation">
                    <div class="col-sm-12 beta-background push-bottom-soft">
                        <h3>Skapa organisation</h3>
                    </div>
                    <div id="asCrContainer">
                        @Html.Partial("CreateAssociation")
                    </div>
                    
                </div>
            }
            
        </div>
    </div>

</div>
