﻿@model MvcApp.ViewModels.AssociationViewModels.AssociationInviteViewModel

<div id="inviteToAssocForm" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Bjud in vänner</h3>
    </div>
    @using (Ajax.BeginForm("AssociationInvite", "Association",
                                            new AjaxOptions
                                            {
                                                HttpMethod = "POST",
                                                InsertionMode = InsertionMode.Replace,
                                                UpdateTargetId = "inviteToAssocForm"
                                            }))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.id)
        <div class="modal-body row">
            @if (Model.MembersToinvite != null && Model.MembersToinvite.Count > 0)
            {
                for (int i = 0; i < Model.MembersToinvite.Count ; i++)
                {
                    <div class="col-xs-6 col-md-3">
                        <p>@Model.MembersToinvite[i].MemberToInvite.Firstname @Model.MembersToinvite[i].MemberToInvite.Lastname</p>
                        @Html.CheckBoxFor(x => x.MembersToinvite[i].IsInvited)
                    </div>
                    @Html.HiddenFor(x => x.MembersToinvite[i].Member)
                }
                <input type="submit" value="Bjud in" />
            }
        </div>
    }
    @if (ViewBag.message != null && ViewBag.message != "")
    {
        <p>@ViewBag.message</p>
    }
</div>

