﻿@model MvcApp.ViewModels.SearchViewModels.AssociationSearchResultViewModel


<div class="o-module-box alpha-background">
    @if (Model.Results != null && Model.Results.Count > 0)
    {
        <ul class="search-list no-style-list no-pad no-gutter-all">
            @foreach (var profile in Model.Results)
            {

            <li>
                <a href="@profile.Link">
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-6">
                        @profile.Name
                    </div>
                    <div class="col-sm-4">
                        @Html.Label(profile.AssociationType.ToString())
                    </div>
                </a>
                </li>
            }
        </ul>
    }
    else
    {
        <div class="pad-all-soft">
            <p>Inga sökresultat hittades.</p>
        </div>
    }
</div>

