﻿@model MvcApp.ViewModels.NotificationViewModels.AssociationInviteRespondViewModel

<div class="text-center">
    @Html.ValidationSummary()
    @if (ViewBag.message != null && ViewBag.message != "")
    {
        @ViewBag.message
    }
    else
    {
        <span>Du har blivit injuden till att gå med i @Model.Name</span>
    }

</div>
@if (!Model.IsResponded)
{
    <div class="row">
        @using (Ajax.BeginForm("AcceptAssociationInvitation", "Association", FormMethod.Post,
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "asContainer" + @Model.containerId
            }))
        {
            <div class="col-sm-6">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.AssocId)
                @Html.HiddenFor(x => x.NoId)
                <input type="submit" value="Gå med!"/>
            </div>
        }

        @using (Ajax.BeginForm("DenyAssociationInvitation", "Association", FormMethod.Post,
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "asContainer" + @Model.containerId
            }))
        {
            <div class="col-sm-6 text-right">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.AssocId)
                @Html.HiddenFor(x => x.NoId)
                <input type="submit" value="Ej intresserad"/>
            </div>
        }
    </div>
}