﻿@using Domain.Models
@using Microsoft.Web.Infrastructure
@using MvcApp.InfraStructure
@model MvcApp.ViewModels.AssociationViewModels.AssociationMembershipsViewModel


@if (Model != null && Model.Memberships.Any())
{
    <ul class="no-style-list ">
        @for (int i = 0; i < Model.Memberships.Count(); i++)
        {
            <li>
                <span>@Html.AssocProfileLink(Model.Memberships[i].Association.Name, Model.Memberships[i].Association.Name, Model.Memberships[i].Association.id, null)</span>
                @{

                }
                @Html.EnumLabelFor(Model.Memberships[i].Role, null)
            </li>
        }
    </ul>
    <div class="text-right pad-all-soft">
        <input class="js-toggle-module push-top-soft" type="button" value="Skapa ny organisation" data-container="createAssocContainer"/>
    </div>

}

