﻿@model MvcApp.ViewModels.AssociationViewModels.CreateAssociationViewModel

<div id="creationContainer">
    @using (Ajax.BeginForm("CreateAssociation", "Association", FormMethod.Post, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "asCrContainer"

    }))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <ul class="no-style-list">
                <li>
                    @Html.LabelFor(x => x.Name)
                </li>
                <li>
                    @Html.TextBoxFor(x => x.Name)
                </li>
                <li>
                    @Html.LabelFor(x => x.Category)
                </li>
                <li>
                    @Html.EnumDropDownListFor(x => x.Category)
                </li>
                <li>
                    @Html.LabelFor(x => x.PrivacyType)
                </li>
                <li>
                    @Html.EnumDropDownListFor(x => x.PrivacyType)
                </li>
                <li>
                    @Html.LabelFor(x => x.BannerImage)
                </li>
                <li>
                    <input type="submit" class="btn btn-default" value="Spara ändringar" />
                </li>
                @if (ViewBag.message != null)
                {
                    <li>
                        @ViewBag.message
                    </li>
                }

            </ul>
        </div>
    }

</div>