﻿@model MvcApp.ViewModels.AssociationViewModels.AssociationIdViewModel
<div id="updateAssocProfileImageForm" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Ändra dina uppgifter</h3>
    </div>
    @using (Html.BeginForm("UpdateAssociationProfileImage", "Association", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <ul class="no-style-list">
                <li>
                    <label for="image">Lägg upp ny bild</label>
                </li>
                <li>
                    <input type="file" name="image" id="image" style="width: 100%;" />
                </li>
                <li>
                    <input type="submit" class="btn btn-default" value="Spara"/>
                </li>
                @if (ViewBag.message != null)
                {
                    <li>
                        @ViewBag.message
                    </li>
                }
                @Html.HiddenFor(x => x.AssocId)
            </ul>
        </div>
    }
</div>
