﻿@model MvcApp.ViewModels.SearchViewModels.SearchResultsDialogueViewModel


<div class="o-module-box overlay-dialogue alpha-background no-pad">
    @if (Model.Results != null && Model.Results.Count > 0)
    {
        <ul class="no-style-list search-list no-pad-sides">
           @foreach (var profile in Model.Results)
            {
                <li class="">
                    <a href="/Profile?uid=@profile.Link" class="text-color-dark">
                        <div class="col-sm-2">
                            <img class="image-control" src="~/Images/Svg/Avatar.svg"/>
                        </div>
                        <div class="col-sm-8 text-left ">
                            @profile.Name
                        </div>
                        
                    </a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>Inga sökresultat hittades.</p>
    }
</div>


