﻿@model MvcApp.ViewModels.EventViewModels.CreateEventViewModel

<div id="creationContainer">
    @using (Ajax.BeginForm("CreateEvent", "Event", FormMethod.Post, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "evCrContainer"

    }))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        <div class="modal-body row">
            <div class="col-md-3">
                <ul class="no-style-list">
                    <li>
                        @Html.LabelFor(x => x.Name)
                    </li>
                    <li>
                        @Html.TextBoxFor(x => x.Name)
                    </li>
                    <li>
                        @Html.LabelFor(x => x.Category)
                    </li>
                    <li>
                        @Html.EnumDropDownListFor(x => x.Category)
                    </li>
                    <li>
                        @Html.LabelFor(x => x.Description)
                    </li>
                    <li>
                        @Html.TextAreaFor(x => x.Description)
                    </li>
                    <li>
                        <input type="submit" class="btn btn-default" value="Spara ändringar"/>
                    </li>
                    @if (ViewBag.message != null)
                    {
                        <li>
                            @ViewBag.message
                        </li>
                    }

                </ul>
            </div>
            <div class="col-md-3">
                <ul class="no-style-list">
                    <li>
                        @Html.LabelFor(x => x.StartDate)
                    </li>
                    <li>
                        <div class='input-group date' id='startDate'>
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @name = "startDate", @data_format = "YYYY-MM-DD HH:mm" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </li>
                    <li>
                        @Html.LabelFor(x => x.EndDate)
                    </li>
                    <li>
                        <div class='input-group date' id='endDate'>
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @name = "endDate", @data_format = "YYYY-MM-DD HH:mm" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
    }

</div>
<script type="text/javascript">
                        $(document).ready(function() {
                            $('#startDate').datetimepicker({
                                format: 'YYYY-MM-DD HH:mm'
                            });
                            $('#endDate').datetimepicker({
                                format: 'YYYY-MM-DD HH:mm'
                            });
 
                            jQuery("#startDate").on("dp.change", function (e) {
                                $('#endDate').data("DateTimePicker").minDate(e.date);
                            });
                            jQuery("#endDate").on("dp.change", function (e) {
                                $('#startDate').data("DateTimePicker").maxDate(e.date);

                            });
                        });
                        
</script>
