﻿@model MvcApp.ViewModels.NotificationViewModels.EventInviteRespondViewModel

<div class="text-center">
    @Html.ValidationSummary()
    @if (ViewBag.message != null && ViewBag.message != "")
    {
        @ViewBag.message
    }
    else
    {
        <span>Du har blivit injuden till @Model.Name</span>
    }

</div>
@if (!Model.IsResponded)
{
    <div class="row">
        @using (Ajax.BeginForm("AcceptEventInvitation", "Event", FormMethod.Post,
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "evContainer" + @Model.containerId
                    }))
        {
            <div class="col-sm-6">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.EventId)
                @Html.HiddenFor(x => x.NoId)
                <input type="submit" value="Gå med!" />
            </div>
        }

        @using (Ajax.BeginForm("DenyEventInvitation", "Event", FormMethod.Post,
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "evContainer" + @Model.containerId
                    }))
        {
            <div class="col-sm-6 text-right">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.EventId)
                @Html.HiddenFor(x => x.NoId)
                <input type="submit" value="Ej intresserad" />
            </div>
        }
    </div>
}
