﻿@using Domain.Models
@using Microsoft.Web.Infrastructure
@using MvcApp.InfraStructure
@model MvcApp.ViewModels.EventViewModels.EventParticipationsViewModel


@if (Model != null && Model.Participants.Any())
{
    <ul class="no-style-list ">
        @for (int i = 0; i < Model.Participants.Count(); i++)
        {
            <li>
                <span>@Html.EventProfileLink(Model.Participants[i].Event.Name, Model.Participants[i].Event.EventId, Model.Participants[i].Event.Name,  null)</span>
                
                @Html.EnumLabelFor(Model.Participants[i].Role, null)
            </li>
        }
    </ul>
    

}
<div class="text-right pad-all-soft">
    <input class="js-toggle-module push-top-soft" type="button" value="Skapa nytt evenemang" data-container="createEventContainer" />
</div>

