﻿@model MvcApp.ViewModels.EventViewModels.EventInviteViewModel

<div id="inviteToEventForm" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Bjud in vänner</h3>
    </div>
    @using (Ajax.BeginForm("EventInvite", "Event",
                                                    new AjaxOptions
                                                    {
                                                        HttpMethod = "POST",
                                                        InsertionMode = InsertionMode.Replace,
                                                        UpdateTargetId = "inviteToEventForm"
                                                    }))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.EventId)
        <div class="modal-body row">
            @if (Model.ParticipantsToinvite != null && Model.ParticipantsToinvite.Count > 0)
            {
                for (int i = 0; i < Model.ParticipantsToinvite.Count; i++)
                {
                    <div class="col-xs-6 col-md-3">
                        <p>@Model.ParticipantsToinvite[i].MemberToInvite.Firstname @Model.ParticipantsToinvite[i].MemberToInvite.Lastname</p>
                        @Html.CheckBoxFor(x => x.ParticipantsToinvite[i].IsInvited)
                    </div>
                    @Html.HiddenFor(x => x.ParticipantsToinvite[i].Member)
                }
                <input type="submit" value="Bjud in" />
            }
        </div>
    }
    @if (ViewBag.message != null && ViewBag.message != "")
    {
        <p>@ViewBag.message</p>
    }
</div>

