﻿
<div class="row">
    <div class="col-md-12 push-bottom-soft pad-all-soft">
        <div class="center-content text-center">
            <h3 class="heading-color">Sök efter evenemang</h3>
            @Html.TextBox("Sök", null, new { @class = "js-search-field sc-input-field alpha-background", @data_action = "/Event/EventSearch", @data_target = "evContainer" })
            <div class="search-container text-left overlay-dialogue center-content js-clickout-hide" id="evContainer">
            </div>
        </div>
    </div>
    <br />
    <hr />
    <div class="row pad-all-soft">
        <div class="col-md-6">

            @if (User.Identity.IsAuthenticated)
            {
                <div class="alpha-background o-module-box push-top-soft" data-action="/Association/AssociationMemberships">
                    <div class="col-sm-12 beta-background push-bottom-soft">
                        <h3>Deltagande i evenemang</h3>
                    </div>
                    @Html.Action("EventParticipations")
                </div>
            }

        </div>

    </div>
    <div class="col-md-12">
        @if (User.Identity.IsAuthenticated)
            {

            <div class="js-module-hide push-top-soft o-module-box alpha-background" id="createEventContainer" data-action="/Event/CreateEvent">
                <div class="col-sm-12 beta-background push-bottom-soft">
                    <h3>Skapa nytt evenemang</h3>
                </div>
                <div id="evCrContainer">
                    @Html.Partial("CreateEvent")
                </div>

            </div>
        }

    </div>



</div>
