﻿
html, body {
   height: 100%;
   background-image: url(../Images/rusty-hotrod.jpg);
   color: white;
   background-color: rgb(25, 25, 30) !important;
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
}


.container {
    min-height: 100%;
}



.alpha {
    background-color: rgba(100, 100, 120, 0.5) !important;
}

.body-alpha {
    background-color: rgba(60, 30, 25, 0.4);
    min-height: 100%;
    position: relative;
}
.text-color-dark {
    color: rgb(30,30,30);
}

.heading-color-beta {
    color: rgb(160,50,40);
}
.heading-color {
    color: antiquewhite;
}

.alpha-background {
   background-color: antiquewhite;
}
.beta-background {
    background-color: rgb(120,210,170);
}
.delta-background {
   background-color: rgba(25, 25, 30, 0.99)
}

.entry-background {
    background-color: white
}
