﻿.o-module-box{
    border : 2px solid gray;
    /*-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;*/
}

@font-face {
    font-family:Downcome;
    src: url('../Content/Fonts/DOWNCOME.TTF') format('truetype');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(https://fonts.gstatic.com/s/notoserif/v4/eCpfeMZI7q4jLksXVRWPQ_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 200;
  src: local('Oleo Script'), local('OleoScript-Regular'), url(https://fonts.gstatic.com/s/oleoscript/v5/_weQNDK6Uf40CiGFKBBUjo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Bree Serif'), local('BreeSerif-Regular'), url(https://fonts.gstatic.com/s/breeserif/v5/LQ7WLTaITDg4OSRuOZCps_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.logo, .navbar-brand {
    font-family: Downcome;
    font-size: 40px;
    color: antiquewhite;
    margin: 0 !important;
}

.navbar-right {
    height: 60px;
}
h1, h2, h3 {
    font-family: Bree Serif!important;
}
.logo:hover {
    text-decoration: none;
    color: #f4a460;
}
span, p, a, label {
    font-family: Noto Serif
}
ul.no-style-list {
    list-style-type: none;

}
.no-style-list li {

}

.sc-input-field {
    width: 400px;
    height: 40px;
    font-size: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 1px 10px;
}

.no-style-link {
    color: inherit;
}

.no-style-link:hover {
    color: inherit;
}

.no-style-link:active {
    color: inherit;
}
.nav-list {
    height:60px;
    padding: 0 !important;
    border-left: 1px solid rgb(50,50,50);
}
.nav-list li {
    height: inherit !important
}

.nav-list a:hover {
    background-color: rgb(50, 50, 50) !important;
    color: #f4a460;
}
.nav-list a:active {
    background-color: rgb(120,210,170) !important;
    color: #f4a460;
}

.nav-list a:focus {
    background-color: rgb(120,210,170) !important;
    color: rgba(25, 25, 30, 0.99);
}
.nav-list a {
    height: 100%;
    vertical-align: middle;
    font-family: Bree Serif;
    font-size: 18px;
    text-align: center;
    top: auto;
    color: 	antiquewhite;
    
    border-right: 1px solid rgb(50,50,50);
}

.navbar {
    border-bottom: 1px solid rgb(10,10,15) !important;
}
.nav-field {
    align-content: center;
    height: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.member-area {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.search-list {
    border: none;
}

.search-list a {
    display: block;
    border: none;
    width: 100% !important;
    height: 50px;
    padding: 10px;
    color: rgb(30,30,30);
}
.search-list a:hover {
    background-color: rgb(120,210,170) !important;
    color: rgb(30,30,30);
}

.notification-indicator {
    position: absolute;
    margin-left: 25px;
    width: 16px;
    height: 16px;
    font-size: 12px;
    background-color: red;
    color: antiquewhite;
}