﻿.push-top-soft{
    margin-top: 20px;
}
.push-top-hard{
    margin-top: 10px;
}
.push-left-hard {
    margin-left: 10px;
}
.push-right-hard {
    margin-right: 10px;
}
.push-bottom-soft {
    margin-bottom: 20px;
}
.overlay-dialogue {
    position: absolute;
    z-index: 9999;
    width: 400px;
    overflow: hidden !important;
    padding: 10px;
}

.align
.navbar {
    padding-left: 20px;
    padding-right: 20px;
    border: none !important;
}

.modal-content {
    overflow: hidden !important;
}

.body-content {
    margin-top: 10px;
    padding: 20px;
}

.container {
    min-height: 400px !important;
}
footer {
    bottom: 0;
    left: 20px;
    position: absolute;
}

.pad-all-soft {
    padding: 20px;
}

.pad-all-hard {
    padding: 10px;
}

.pad-all-mini {
    padding: 5px;
}
.pad-bottom-soft {
    padding-bottom: 20px;
}
.pad-bottom-hard {
    padding-bottom: 10px;
}
.pad-top-soft {
    padding-top: 20px;
}
.pad-top-hard {
    padding-top: 10px;
}
.center-content {
    margin: 0 auto;
    width: 50%;
}
.spacing-soft {
    margin: 20px;
}
.spacing-hard {
    margin: 10px;
}
.image-control {
    width: 100%;
    
}

.overlay {
    position: absolute;
}

.align-right {
    right: 0;
}
.align-left {
    left: 0;
}
.no-pad {
    padding: 0 !important
}

.no-pad-sides {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-gutter-all {
    margin: 0;
}

.full-width {
    width: 100%;
}

.inline-block {
    display: inline-block;
}

.nav-img {
    max-width: 25px !important;
}
.no-border {
    border: none !important
}
